<div ng-include="navigation"></div>
<h1>Offering the help you need throughout an unexpected pregnancy</h1>
<div class="well content">
    <div class="inline valign-top index-blurb">
        <p>Lifeline has no financial interest in your pregnancy because we do not perform abortions or arrange adoptions. Instead, we provide you with all the information you need to make an informed choice.<br>
        <b>For this reason, all of our services are free and confidential.</b></p>
    </div><div class="index-address inline" ng-controller="Lifeline">
        <ul>
            <li>{{info.street}}</li>   
            <li>{{info.citystate}}</li>   
            <li>{{info.zip}}</li>
            <li>&nbsp;</li>
            <li><b>{{info.phone}}</b></li>
            <li><a href="mailto:{{info.email}}">{{info.email}}</a></li>
        </ul>
    </div>
</div>
<div class="well">
    <h2>We are moving!</h2>
    <p>Lifeline Pregnancy Help Clinic is moving to 1515 N. New Street in Kirksville!  We will be closed October 20 - 23 getting our new offices ready, and will re-open on Monday, October 27.  Our phone lines may be temporarily down on Monday, October 20 for a short time while our service is being transferred.  Thank you for your patience and understanding during this transition.</p>
</div>

<div ng-include="'partials/lifeline/lifeline-services-icons.html'"></div>