/* Service Icons */
ul.icons {
	list-style:none;
	padding:0 140px;
}

.icons li {
    display:inline-block;
    width:25%;
    text-align: center;
}

.icons li img {
    height:100px;
    width:100px;
}