<div ng-include="navigation"></div>
    <div class="content">
    
    <h1>The tree</h1>
    
    <div class="community-block">
        <a href="#/supporter-get-involved">Our Community</a>
    
        <div class="community">
            <p>A blurb about our community</p>
        </div>
    </div>
    
    <div class="team-block">
        <a href="#/supporter-contact">Our Team</a>
    
        <div class="team">
            <p>A blurb about our team</p>
        </div>
    </div>
    
    <div class="services-block">
        <a href="#/supporter-services">Our Services</a>
    
        <div class="services">
            <p>A blurb about our services</p>
        </div>
    </div>
</div>