<div ng-include="navigation"></div>
<div>
	<h1>Support Lifeline financially</h1>
	<p>There are many ways to provide support to Lifeline in our mission of serving Christ through serving others.       
	Monetary donations, material donations, volunteering, and prayer are just a few ways that you can help
	us to  continue this ministry.  Please explore our site further to see what a difference our supporters and
	volunteers make each and every day!</p>
	<p>Click here to make a secure donation to Lifeline via PayPal:</p>
	<p><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=Yye7JviWNuLwGc5oWvYNrNZPhMjZ76MJtlxsaSUecEnfH6NZcxITWAsg9RC&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b0819827f0298a8d8382cff5df9729c4c3c2b2">Here</a></p>
</div>
