<div class="s_navigation" supporter-body>
    <div>
        <a href="#/supporter-index">Home</a>
    </div><div>
        <a href="#/supporter-learn-more">Learn More</a>
        <span><a href="#/supporter-services">Our Services</a></span>
        <span>Video</span>
        <span><a href="#/supporter-stories">Client Stories<a/></span>
        <span>New Projects</span>
    </div><div>
        <a href="#/supporter-get-involved">Get Involved</a>
        <span><a href="#/supporter-get-involved">Events</a></span>
        <span><a href="#/supporter-get-involved">Annual Report</a></span>
    </div><div><a href="#/supporter-donate">Donate</a>
    </div><div>
        <a href="#/supporter-contact">Contact</a>
        <span><a href="#/supporter-contact">Our Staff</a></span>
        <span><a href="https://www.facebook.com/pages/Friends-of-Lifeline-Pregnancy-Help-Clinic/155665104511272">Facebook</a></span>
    </div>
</div>