<ul class="navigation">
    
    
    <li><a href="#/supporter-index">Home</a></li>
    <li><a href="#/supporter-learn-more">Learn More</a></li>
        <ul>
            <li><a href="#/supporter-services">Our Services</a></li>
            <li>Video</li>
            <li><a href="#/supporter-stories">Client Stories<a/></li>
            <li>New Projects</li>
        </ul>
    <li><a href="#/supporter-get-involved">Get Involved</a></li>
        <ul>
            <li><a href="#/supporter-get-involved">Events</a></li>
            <li><a href="#/supporter-get-involved">Annual Report</a></li>
        </ul>
    <li><a href="#/supporter-donate">Donate</a></li>
    <li><a href="#/supporter-contact">Contact</a></li>
        <ul>
            <li><a href="#/supporter-contact">Our Staff</a></li>
            <li><a href="https://www.facebook.com/pages/Friends-of-Lifeline-Pregnancy-Help-Clinic/155665104511272">Facebook</a></li>
        </ul>
</ul>