<div ng-include="navigation"></div>
<div>
	<h1>Events</h1>
	<div>
		<h3>Baby Bottle Blessing 2014!</h3>
		<p>The Baby Bottle Blessing Campaign is now in full swing. Officially kicking off on January 19, 2014 and running through February 16, 2014.</p>
		<p>However, dates can be modified to meet your church or organization's needs.  Please check back frequently to monitor the campaign's progress!</p>

		<h3>Walk for Life</h3>
		<p>Registration coming soon!</p>

		<h3>Banquet</h3>
		<p>Dates for the 2014 Banquet will be announced soon!</p>
	</div>
</div>