<div ng-include="navigation"></div>
<div class="content tree inline valign-top">
    
    <div class="blurb community-block">
        <span>
            <a href="#/supporter-get-involved">Our Community</a>
        
            <div class="community">
                <p>A blurb about our community</p>
            </div>
        </span>
    </div>
    
    <div class="blurb team-block">
        <span>
            <a href="#/supporter-about">Our Team</a>
    
            <div class="team">
                <p>A blurb about our team</p>
            </div>
        </span>
    </div>
    
    <div class="blurb services-block">
        <span>
            <a href="#/supporter-services">Our Services</a>
        
            <div class="services">
                <p>A blurb about our services</p>
            </div>
        </span>
    </div>
</div>