<div class="s_header" ng-controller="Lifeline">
    <div class="support valign-top inline">
        <span ng-include="info.supportButton"></span>
    </div><div class="address valign-top inline">
        <h1>{{info.name}}</h1>
        <h2>{{info.phone}} <small class="muted">&#9679; {{info.street}}, {{info.citystate}}</small></h2>
    </div>
</div>

<div class="s_navigation" supporter-body>
    <div>
        <a href="#/supporter-index">Home</a>
    </div><div>
        <a href="#">Learn More</a>
        <span><a href="#/supporter-about">About Us<a/></span>
        <span><a href="#/supporter-services">Our Services</a></span>
        <span><a href="#/supporter-videos">Video</a></span>
        <span><a href="#/supporter-stories">Client Stories<a/></span>
    </div><div>
        <a href="#">Get Involved</a>
        <span><a href="#/supporter-events">Events</a></span>
        <span><a href="#/supporter-new-projects">New Projects</a></span>
        <!-- <span><a href="#">Annual Report</a></span> -->
    </div><div><a href="#/supporter-donate">Donate</a>
    </div><div>
        <a href="#/supporter-contact">Contact</a>
        <!-- <span><a href="https://www.facebook.com/pages/Friends-of-Lifeline-Pregnancy-Help-Clinic/155665104511272">Facebook</a></span> -->
    </div>
</div>