<div ng-include="navigation"></div>

<div class="content tree inline valign-top">
    
    <div class="blurb community-block">
        <span>
            <a href="#/supporter-get-involved"><h1>Our Community</h1></a>
        
            <div class="community">
                <p>A blurb about our community</p>
            </div>
        </span>
    </div>
    
    <div class="blurb team-block">
        <span>
            <a href="#/supporter-about"><h1>Our Team</h1></a>
    
            <div class="team">
                <p>A blurb about our team</p>
            </div>
        </span>
    </div>
    
    <div class="blurb services-block">
        <span>
            <a href="#/supporter-services"><h1>Our Services</h1></a>
        
            <div class="services">
                <p>A blurb about our services</p>
            </div>
        </span>
    </div>
</div>