<ul class="icons" ng-model="service">
    <li ng-click="service='partials/client/services/tests.html'">
        <img src="img/icons/services.png"/>
        <p>Pregnancy Tests &amp; Ultrasounds</p>
    </li>
    <li ng-click="service='partials/client/services/programs.html'">
        <img src="img/icons/programs.png"/>
        <p>Programs</p>
    </li>
    <li ng-click="service='partials/client/services/referrals.html'">
        <img src="img/icons/community.png"/>
        <p>Community Referrals</p>
    </li>
    <li ng-click="service='partials/client/services/counseling.html'">
        <img src="img/icons/peer.png"/>
        <p>Peer Counseling</p>
    </li>
</ul>

<div ng-include="service"></div>