<div ng-include="navigation"></div>
<h1>Offering the help you need throughout an unexpected pregnancy</h1>
<div class="well content">
    <div class="inline valign-top index-blurb">
        <p>Lifeline has no financial interest in your pregnancy because we do not perform abortions or arrange adoptions. Instead, we provide you with all the information you need to make an informed choice.<br>
        <b>For this reason, all of our services are free and confidential.</b></p>
    </div><div class="index-address inline" ng-controller="Lifeline">
        <ul>
            <li>{{info.street}}</li>   
            <li>{{info.citystate}}</li>   
            <li>{{info.zip}}</li>
            <li>&nbsp;</li>
            <li><b>{{info.phone}}</b></li>
            <li><a href="mailto:{{info.email}}">{{info.email}}</a></li>
        </ul>
    </div>
</div>

<div ng-include="'partials/lifeline/lifeline-services-icons.html'"></div>