<div class="header" ng-controller="Lifeline">
    <div class="support">
        <a href="{{info.supporterUrl}}"><input type="button" value="Support Lifeline"></a>
    </div>
    <div class="address">
        <h1>{{info.name}}</h1>
        <h3>{{info.phone}} &#9679; {{info.street}}, {{info.citystate}}</h3>
    </div>

    <ul class="navigation">
        <li><a href="#/client-index">Home</a></li>
        <li><a href="#/client-services">Services</a></li>
        <li><a href="#/client-stories">Stories</a></li>
        <li><a href="#/client-contact">Contact</a></li>
        <li><a href="#/client-about">About</a></li>
    </ul>
</div>

    
