<div>
    <h1>Contact Us</h1>
    <p>Lifeline is a non-profit organization, providing help and non-judgmental support to anyone facing unexpected pregnancy, regardless of his or her income, marital status, religious beliefs or what decision is made regarding the pregnancy.</p>
    <p><b>All of our services are free and confidential.</b></p>
    <div class="left well">
        <p>Request an appointment by filling in the form below:</p>
        <form>
            
        </form>
    </div>
    <div class="right">
        
    </div>
</div>