<div ng-include="navigation"></div>
<div>
    <h1>About Us</h1>
    <p>Lifeline Pregnancy Help Clinic is a non-profit, Christ-centered organization that upholds the value of human life through the care of pregnant women and those affected by an unplanned pregnancy. We exist to save and change lives.</p>
    <p>Lifeline was established in 1997 and since has been serving women and families from all of Northeast Missouri. Our service areas are broad, but our overall goal is the same: to serve all with an open heart and open arms as they progress through pregnancy and into parenthood.</p>
    <p>The Center is open Monday - Thursday and offers client appointments from<br>
        11:00 a.m. - 5:00 p.m. Monday - Wednesday<br>
        12:00 a.m. - 6:00 p.m. Thursday<br>
        Phone: 660-665-5688
    </p>
    <img src="img/group.jpg"/>
    <p>Pictured left to right: LeAnn Dent, Ministry Assistant; Kristine Polovich, RN, Clinic Nurse; Breanne Hunt, MBA, Executive Director; Nicole Jachura, RN, Clinic Manager; Rachel Noe, Executive Assistant. Not pictured: Leslie Bosslet, Abstinence Education Coordinator. </p>
    <a href="#">Support Lifeline</a>
</div>

