<div>
    <h1>Contact Us</h1>
    <p>Lifeline is a non-profit organization, providing help and non-judgmental support to anyone facing unexpected pregnancy, regardless of his or her income, marital status, religious beliefs or what decision is made regarding the pregnancy.</p>
    <p><b>All of our services are free and confidential.</b></p>
    <div class="well">
        <p>Request an appointment by filling in the form below:</p>
        <form name="appointmentForm" class="css-form" ng-submit="submitForm()" novalidate>
            <div>
                <label>Name*</label>
                <input type="text" name="name" ng-model="appointment.name" required />
                <p ng-show="(appointmentForm.name.$invalid && submitted) || (errors.name)">Your name is required</p>
            </div>
            <div>
                <label>Email*</label>
                <input type="email" name="email" ng-model="appointment.email" required />
                <p ng-show="appointmentForm.email.$pristine && submitted">Your email is required</p>
                <p ng-show="appointmentForm.email.$invalid && appointmentForm.email.$dirty && submitted">Please enter a valid email</p>
            </div>
            <div>
                <label>Date of Birth*</label>
                <input type="text" name="dob" ng-model="appointment.dob" ng-pattern="/^\d{1,2}\/\d{1,2}\/\d{2,4}$/" required />
                <p ng-show="appointmentForm.dob.$pristine && submitted">Your date of birth is required</p>
                <p ng-show="appointmentForm.dob.$invalid && appointmentForm.dob.$dirty && submitted">Please enter date in format MM/DD/YYYY</p>
            </div>
            <div>
                Have you been to Lifeline before?
                <label>Yes:<input type="radio" name="visited-before" ng-model="appointment.previous" value="true" /></label>
                <label>No:<input type="radio" name="visited-before" ng-model="appointment.previous" value="false" /></label>
            </div>
            <div>
                When would you like to visit?
                <label>Day:</label>
                <select ng-model="appointment.day" ng-options="d.day for d in appointmentDays"></select>
                <label>Time:</label>
                <select ng-model="appointment.time" ng-options="t.time for t in appointmentTimes"></select>
            </div>
            <div>
                Requested service:
                <select ng-model="appointment.service" ng-options="s.service for s in appointmentServices"></select>
            </div>
            <div>
                <p>We cannot guarantee that the appointment time you request will be available, however, we will do all we can to schedule an appointment for you as close to the time you requested as possible. You will receive a confirmation email for your appointment at the email address you listed above. </p>
                <p><b>Please double check before hitting submit that you have entered the email address correctly. Thank you.</b></p>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <div>{{error}}</div>
        <div>{{appointment}}</div>
    </div>
    <div class="address-block" ng-controller="Lifeline">
        <p class="street">{{info.street}}</p>
        <p class="location"><span class="citystate">{{info.citystate}}</span> <span class="zip">{{info.zip}}</span></p>
        <p class="phone">Phone: {{info.phone}}</p>
        <p class="fax">Fax: {{info.fax}}</p>
        <a class="email" href="mailto:{{address.email}}">{{info.email}}</a>
    </div>
</div>