<div ng-include="navigation"></div>

<div>
	<h1>Employment Opportunities</h1>
    
		<div>
				<h3>Abstinence Education Coordinator</h3>
				<p>The Abstinence Education Coordinator has the responsibility for the overall development, implementation and operation of Lifeline’s abstinence education program, Pure Freedom.  This includes developing relationships with school officials, receiving proper training for curriculum, conducting classroom sessions, etc.  The Pure Freedom program is offered to schools across Northeast Missouri.  Additional duties within the Clinic will also be performed as assigned.  Position is 30 hours per week.</p>
 
				<p>Requirements of Position:</p>
				<ul>
					<li>Experience working with youth in classroom/ group settings or degree in related field</li>
					<li>Good knowledge of the Northeast Missouri area and its counties</li>
					<li>Computer skills including all Microsoft Office programs and internet operation</li>
					<li>Must agree with the Lifeline Statement of Faith and Statement of Principle</li>
					<li>Must faithfully attend church and be a committed Christian who demonstrates a personal relationship with Jesus Christ as Savior and Lord</li>
					<li>Practice abstinence if not married</li>
					<li>Exhibit strong commitment to the pro-life position</li>
					<li>Must submit to a criminal background check prior to employment</li>
					<li>Ability and means to travel throughout Northeast Missouri</li>
					<li>A valid Missouri driver’s license and reliable transportation</li>
					<li>Be self-motivated, driven, and able to carry out responsibilities with little supervision</li>
				</ul> 
 
				<p>Responsibilities:</p>
				<ul>
					<li>Promotional activities including; meeting with school officials, producing materials for promotion of the Pure Freedom program, and community awareness and education</li>
					<li>Schedule presentations of program in schools and prepare all appropriate materials</li>
					<li>Conduct/teach the program in schools</li>
					<li>Planning and managing supplies for the program</li>
					<li>Compile monthly statistical reports for the program</li> 
					<li>Public relations through promotion of the Pure Freedom program in various presentations and public speaking opportunities</li>
					<li>Participate in the creation and distribution of newsletters and other promotional and educational materials for the Pure Freedom program</li> 
					<li>Schedule and facilitate parent community education nights</li>
					<li>Stay current on all curriculum updates and training necessary to maintain the program</li>
					<li>When not teaching or promoting the program, assist with duties in the clinic such as client services, special projects, etc.</li>
					<li>Supervise, train, and schedule volunteer educators for the program</li>
				</ul>
 
				<p>Training and Support:</p> 
				<ul>
					<li>On-the-job training and support will be provided</li> 
					<li>Training in the WAIT curriculum is required (will be provided)</li>  
					<li>Volunteer Peer Counselor Training is required (will be provided)</li> 
					<li>Mileage will be reimbursed at the Missouri State reimbursement rate</li>
				</ul>

				<p>Position Reports to:  Executive Director</p>
 
				<p>Resignation Requirements: Position requires at least a two-week notice for resignation in good standing.</p> 
 
				<p>Application will be accepted beginning March 9, 2015, until the position is filled.  Please send cover letter, resume and references to:<br>
				Lifeline Pregnancy Help Clinic <br>
				Attn:  Breanne Hunt <br>
				PO Box 663 <br>
				Kirksville, MO 63501</p>
		</div>
		
		<hr>
    <div>
		<h2>Lifeline Pregnancy Help Clinic's Statement of Faith:</h2>
 		<ol>
 			<li>We believe the Bible to be the inspired, the only infallible, authoritative Word of God.</li>
 			<li>We believe that there is one God, eternally existent in three persons:  Father, Son and Holy Spirit.</li>
			<li>We believe in the deity of our Lord Jesus Christ, His virgin birth, His sinless life, His miracles, His vicarious and atoning death through His shed blood, His bodily resurrection, His ascension to the right hand of the Father, and His personal return in power and glory.
			<li>We believe that regeneration by the Holy Spirit is absolutely essential for the salvation of lost and sinful man, and that this salvation is received through faith in Jesus Christ as Savior and Lord and not as a result of good works.</li>
			<li>We believe in the present ministry of the Holy Spirit by whose indwelling the Christian is enabled to live a godly life and to perform good works.</li>
			<li>We believe in the resurrection of both the saved and the lost; they that are saved unto the resurrection of life and they that are lost unto the resurrection of damnation.</li>
			<li>We believe in the spiritual unity of believers in our Lord Jesus Christ.</li>
		</ol>   
		<p>Adapted from the National Association of Evangelical’s statement of faith.</p>

		<h2>Lifeline Pregnancy Help Clinic's Statement of Principle:</h2>
		<ol>
			<li>Lifeline Pregnancy Help Clinic is an outreach ministry of Jesus Christ through His church.  Therefore, Lifeline, embodied in its volunteers, is committed to presenting the gospel of our Lord to women with crisis pregnancies both in word and in deed.  Commensurate with this purpose, those who labor as Lifeline board members, directors and volunteers are expected to know Christ as their Savior and Lord.</li>
			<li>Lifeline is committed to providing clients with accurate and complete information about both prenatal development and abortion.</li>
			<li>Lifeline is committed to integrity in dealing with clients, earning their trust and providing promised information and services.  Lifeline denounces any form of deception in its corporate advertising or individual conversations with its clients.</li>
			<li>Lifeline is committed to assisting women to carry to term by providing emotional support and practical assistance.  Through the provisions of God’s people and the community at large, women may face the future with hope, and plan constructively for themselves and their babies.</li>
			<li>Lifeline does not discriminate in providing services because of race, creed, color, national origin, age, or marital status of its clients.</li>
			<li>Lifeline does not recommend, provide, or refer for abortion or abortifacients.</li>
			<li>Lifeline offers assistance free of charge at all times.</li>
			<li>Lifeline is committed to creating awareness within the local community of the needs of pregnant women, and of the fact that abortion only compounds human need rather than resolving it.</li>
			<li>Lifeline does not recommend, provide, or refer single women for contraceptives.  (Married women seeking contraceptive information should be urged to seek counsel, along with their husbands, from their pastor or physician.)</li>
			<li>Lifeline recognizes the validity of adoption as one alternative to abortion, but it is not biased toward adoption when compared to other life-saving alternatives.  Lifeline is independent of adoption agencies, relating to them in the same manner as to other helpful referral sources.  Lifeline receives no payment of any kind from these agencies, does not enter into contractual relationships with them, and does not share combined office space.  Adoption agencies are not established under the auspice of centers.  Lifeline neither initiates nor facilitates independent adoptions, though they may refer for independent adoptions in states where it is legal.</li>
		</ol>
    </div>
</div>