<div ng-include="navigation"></div>
<div>
	<h1>Events</h1>
	<div>
		<p>Our fundraising events take place three times throughout the year, providing a variety of ways to give and get involved in Lifeline's ministry.</p>

		<div class="event">
			<h3>Fundraising Banquet</h3>
			<p>Each Fall, Lifeline hosts our annual Fundraising Banquet, featuring challenging and encouraging speakers from across the country.  It is a time for reflecting on all God has done at Lifeline throughout the previous year, as well as a time for looking ahead to how we can join with God for the work the lies ahead in the year to come.</p>
			<div class="well">
				<h3><u>Come Grow With Us</u></h3>
				<p>Thursday, November 6, 2014</p>
				<p>Doors open at 5:45 p.m.<br>Dinner & Program 6:00 – 8:00 p.m.</p>
				<p>There is no cost to attend the banquet, however RSVP is <i>required</i>. You may RSVP by calling 660-665-5688 no later than October 31. Due to limited seating capacity, this is an adults only event.</p>
				<p>Keynote Speaker: <a href="http://shawncarney.org/">Shawn Carney</a>, Co-Founder of 40 Days for Life prayer campaign.</p>
			</div>
		</div>

		<div class="event">
			<h3>Baby Bottle Blessing</h3>
			<p>We kick-off our Baby Bottle Blessing campaign on Sanctity of Human Life Sunday every year in January.  Churches and individuals who choose to participate fill up baby bottles with spare change and return the bottles in February in honor of the Sanctity of Human Life that Lifeline works to uphold.</p>
		</div>

		<div class="event">
			<h3>Walk for Life</h3>
			<p>Near the end of Spring, we hold our annual Walk for Life, inviting our community members to raise pledges for a 2-mile fun walk.  The sidewalks are full of families and friends who are "walking the walk" in showing their support for Lifeline's work in caring for those facing unexpected pregnancy.</p>
		</div>

		
	</div>
</div>