<div ng-include="navigation"></div>
<div>
	<h1>Volunteer</h1>
	<div>
		<p>Become a part of our community by joining other individuals, organizations &amp; families in supporting Lifeline.  Watch our promotional video, share it with friends, and contact us to see where you'll fit best in our ministry.  Join us!</p>
		<iframe width="640" height="360" src="//www.youtube.com/embed/966PXL2m7uw?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div>
		<p>To have a volunteer application sent to you, please fill out the form below:</p>
	</div>
	<h1>Board of Directors</h1>
	<div>
		<p>Lifeline is governed by a volunteer Board of Directors.  To learn more about Lifeline’s Board of Directors or to inquire about Board membership, please fill out the form below to be contacted:</p>
	</div>
</div>