body{
	background-image: url("../img/theme7bg2.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #f7fbf2;
}
#main {
	margin-left:auto;
	margin-right:auto;
	width:940px;

}

#banner {
	width:100%;
	height:300px;
	margin-top:10px;
	margin-left:0;
}

#nav_wrap {
	height:105px;
	margin-left:auto;
	margin-right:auto;
}

#nav {
	height:50px;
}

#nav span {
	height:18px;
	padding:8px 0 8px 0;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}

#nav span:hover{
	background-color: #2d2d2d;
}

#nav span a{
	color:#fff;
}

#nav span a:hover, #nav span a:active{
	color:#6d6d6d;
}

#tag {
	font-weight: bold;
	color:#99cc33;
	margin:0;
	float:right;
}

#content {
	margin-top:25px;
}




hr {
	margin: 0 15px 30px 15px;
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
}

img.fit {
	float:left;
}

img.homepage {
	margin:10px 10px 0 10px;
}

.icons {
	text-align: center;
	padding-bottom:25px;
}

.icons img{
	width:90px;
	height:90px;
}

.contact-icon {
	text-align: center;
}

.contact-desc {
}

.contact-icon img{
	width:120px;
	height:120px;
}

.well #appointment-icon {
	width:120px;
	height:120px;
	float:right;
}


#footer {

}

.emphasis h3{
	text-decoration: underline;
	font-size: 1.5em;
}
.emphasis.more p{
	font-size: 1.1em;
	padding: 0 120px 0 120px;
	margin-bottom: 0;
}
.emphasis.less p{
	font-size: 1.1em;
	padding: 0 50px 0 50px;
	margin-bottom: 0;
}

/*/For ResponsiveSlides.js /*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
